<app-logo></app-logo>
<div class="name">
    <app-header-login></app-header-login>
</div>
<div class="afterName" ></div>

<div class="container">


    
    <h1>{{name}}, Please select a password</h1>
    <div class="row g-3">
        <div class="col-sm-4">
          
        </div>
      
        <div class="col-sm-3">
          <input type="password"  placeholder="password" #password  class="form-control"  aria-label="password">
        </div>
     
        <div class="col-sm-5">
          
        </div>
    </div>
</div>
        <div class="but" >
            <button type="button"  class="btn btn-primary btn-lg" (click) = 'addPassword(password.value)' routerLink = "/questionnaire1"  >send</button>
          </div>
      
       
        