<app-logo></app-logo>
<div class="name">
    <app-intern-name></app-intern-name>
</div>
<div class="afterName" ></div>
<div class="container">
<h1>login ok!</h1>    


<!-- <div class="but">
    <button type="button" class="btn btn-primary btn-lg" (click)='getUser()' >getuser</button>
</div> -->


<h6>_id : {{user2._id}} </h6>
<h6>id : {{user2.id}} </h6>
<h6>name : {{user2.name}} </h6>
<h6>passport : {{user2.passport}} </h6>
<h6>phone : {{user2.phone}} </h6>
<h6>age : {{user2.age}} </h6>
<h6>country : {{user2.country}} </h6>
<h6>city : {{user2.city}} </h6>
<h6>graduationYear : {{user2.graduationYear}} </h6>
<h6>academicInstitution : {{user2.academicInstitution}} </h6>
<h6>medicalInstitution : {{user2.medicalInstitution}} </h6>
<h6>residency : {{user2.residency}} </h6>
<h6>department : {{user2.department}} </h6>
<h6>yearInResidency : {{user2.yearInResidency}} </h6>
<h6>password : {{user2.password}} </h6>
<h1>Yoni</h1>


</div>



