<app-logo></app-logo>
<div class="name">
    <app-intern-name></app-intern-name>
</div>
<div class="afterName" ></div>
<div class="container">
<h1>login ok!</h1>    





<h6>_id : {{user._id}} </h6>
<h6>id : {{user.id}} </h6>
<h6>name : {{user.name}} </h6>
<h6>passport : {{user.passport}} </h6>
<h6>phone : {{user.phone}} </h6>
<h6>age : {{user.age}} </h6>
<h6>country : {{user.country}} </h6>
<h6>city : {{user.city}} </h6>
<h6>graduationYear : {{user.graduationYear}} </h6>
<h6>academicInstitution : {{user.academicInstitution}} </h6>
<h6>medicalInstitution : {{user.medicalInstitution}} </h6>
<h6>residency : {{user.residency}} </h6>
<h6>department : {{user.department}} </h6>
<h6>yearInResidency : {{user.yearInResidency}} </h6>
<h6>password : {{user.password}} </h6>
<h6>role : {{user.role}} </h6>



</div>



