<app-header-login></app-header-login>
<div class="container">
  <img class="logo" src="https://upload.wikimedia.org/wikipedia/he/f/fb/Israeli_Ministry_of_Health_logo.png" alt="">

<div class="welcome" >
  <a href="/"          >interns                </a>   <a href="/Supervisor"      >supervisors</a>
   
      <h1 >welcome, intern!</h1>
      <br>
      <h4 >Welcome to our internship site! <br>
        After a short registration process <br>
         you can start working</h4>
         <br><br><br><br><br>
      <button routerLink ="/register1" class="btn btn-primary">register now</button>
    </div>
 

